{
  "batman": "{{ ff_batman_meshif }}",
  "bridge": "{{ ff_bridge_interface }}",
  "mesh-vpn": [ "{{ ff_mesh_vpn_interface }}" ],
  "wan": "{{ respondd_wan }}",
  "rate_limit": 30,
  "rate_limit_burst": 10
}
