{
  "nodeinfo": {
    "hostname": "{{ respondd_router_name }}",
    "hardware": {
      "model": "{{ respondd_router_hardware }}"
    },
    "owner": {
      "contact": "{{ respondd_router_contact }}"
    },
    "system": {
      "site_code": "{{ respondd_router_site_code }}",
      "role": "client"
{% if respondd_lat and respondd_long %}
    },
   "location": {
      "latitude": {{ respondd_lat }},
      "longitude": {{ respondd_long }}
    }
{% else %}
    }
{% endif %}
  },
  "firstseen": "{{ lookup('pipe', 'date +%Y-%m-%dT%H:%M:%S')}}"
}
